.s-img{
    background-image: url('/images/bg.jpg');
    height :118vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   
    


    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: inherit;
        background: linear-gradient(rgba(0, 0, 0, 10), transparent, transparent, rgba(0, 0, 0, 1.5));
    }
   
}

.mx-8-10{
    margin-left: 8rem;
    margin-right: 10rem;
}
.m-x-7{
    margin-left: 7rem;
    margin-right: 7rem;
}
.m-y-10{
    margin-top:6rem;
    margin-bottom: 10rem;;
}

.no-hover:hover,
.no-hover:active,
.no-hover:focus
{
    background-color: transparent !important; /* Set the background color to transparent to remove the hover effect */
    border-color: #f8f9fa !important; /* Set the border color to the normal state color (light outline) */
    color: #f8f9fa !important; /* Set the text color to the normal state color (light text) */
}
.highlight{
    position: relative;
    z-index: 1;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size:3rem;
    

}
.sty{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size:1.3rem;
}
.onlayer{
    z-index: 2;
}
/* body{
    background-color: blueviolet;
} */