.s-img{
    background-image: url('/images/bg.jpg');
    height :100vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
   
    


    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: inherit;
        background: linear-gradient(rgba(0, 0, 0, 10), transparent, transparent, rgba(0, 0, 0, 1.5));
    }
   
}

.mx-8-10{
    margin-left: 8rem;
    margin-right: 10rem;
}
.m-x-7{
    margin-left: 7rem;
    margin-right: 7rem;
}
.m-y-10{
    margin-top:6rem;
    margin-bottom: 10rem;;
}

.no-hover:hover,
.no-hover:active,
.no-hover:focus
{
    background-color: transparent !important; /* Set the background color to transparent to remove the hover effect */
    border-color: #f8f9fa !important; /* Set the border color to the normal state color (light outline) */
    color: #f8f9fa !important; /* Set the text color to the normal state color (light text) */
}
.highlight{
    position: relative;
    z-index: 1;
    font-family: 'Inter', sans-serif;
    font-weight: 900;
    font-size:3rem;
    

}
.sty{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size:1.3rem;
}
.onlayer{
    z-index: 2;
    filter: brightness(1);
}
.form-control::placeholder {
    color: white /* Replace 'your-color' with your desired color value */
}
.p-x-left-8{
    padding-left: 8rem;
}
.btnColor-RED{
    background-color: rgb(255, 0, 0);

}
.fontSize-2rem{
    font-size: 1.8rem;;
}
.pitch-dark{
    background-color: black;
}
.thick-line {
    border: none; /* Remove the default line */
    height: 5px; /* Set the height to control the thickness of the line */
    background-color: #c5bbbb; /* Set the background color to transparent */
   filter: brightness(1);
    margin: 0;
}
/* Custom CSS to set the width of carousel images */
 .carousel-inner img {
    width: 300px; /* Set your desired width in pixels or any other unit */
    height: auto; /* Maintain the aspect ratio */
} 
.width-set{
    max-width: 100.95%;
}
/* body{
    background-color: blueviolet;
} */
.p-s-5{
    padding-left: 5rem;
    padding-top: 3rem;
}
.img-size{
    padding:7rem 11rem 3rem 4rem;
}
.p-s-6{
   padding: 1rem 0rem 0rem 8rem;
}
.p-e-6{
   padding: 1rem 10rem 0rem 0rem;
}
.img-size-con-2-1{
    padding:7rem 4rem 4rem 16rem;
}
.img-size-con-3-1{
    padding: 3rem 6rem 1rem 4rem;
}
.img-size-con-4-1{
    padding: 6rem 1rem 2rem 10rem;
}
.p-s-7{
    padding-left: 7rem;
    padding-top: 3rem;
}
.m-10-10{
    margin:10rem 0rem 10rem 0rem;
}
.bg-grey{
    background-color: #262626;
}

    /* Add a border to all accordion buttons */
    .ab {
        border: 8px solid #000; /* You can customize the border style, width, and color */
    }
    /* Add hover effect to elements with the .ab class */
.Hover:hover button {
    /* Add your hover styles here */
    background-color:#525252; /* Change to your desired hover background color */
    /* You can also add other styles for the hover state, such as text color or border */
}
.accordion-button::after{
    background-image: url(images/plus.png);
    background-color: transparent;
}
.m-last-0-0{
    margin: 4rem 0rem 0rem 5rem;
}
.p-last-0-0{
    padding:1rem 10rem 1rem 10rem;
}
.width{
    margin:0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem ;
}
.m-cl-0-0{
    margin:0rem 0rem 0rem 0rem;
}
.p-cl-0-0{
    padding-left: 15rem;
    padding-right: 4rem;
}
.p-b-7{
    padding-bottom: 7rem;
}